*{
    box-sizing: border-box;
}

h3{
    margin:0;
}

body{
    margin:0;
    background-color: black;
}

.my-header {
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-row::after,
.header-row::before {
    content: "";
    width: 100%;
    display: table;
    clear: both;
}

.header-logo {
    float: left;
    margin: 20px 0;
}

.header-logo a {
    color: #ffffff;
    text-decoration: none;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.header-right{
    float:right;
}

.header-menu{
    float: left;
    margin: 23px 0;
}

.header-menu ul{
    list-style: none;
    padding:0;
    margin:0;
}

.header-menu ul li {
    float:left;
    padding-left: 34px;
}

.header-menu ul li .nav-link {
    display: inline-block;
    font-family: "Poppins", sans-serif;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 400;
    position: relative;
    padding-bottom: 5px;
    transition: all .4s ease-in-out;
}

.header-menu ul li .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    background-color: #ffbd39;
    left: 0;
    bottom: 0;
    transition: all .4s ease-in-out;
}

.header-menu ul li .nav-link:hover::before {
    width: 100%;
}

.active{
    color:#ffbd39;
    border-bottom: 1px solid #ffbd39;
    display: inline-block;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 400;
    padding-bottom: 5px;

}

.header-menu a{
    text-decoration: none;
    color: #fff;
    float: right;
    display: none;
    font-size: 23px;
}

.banner{
    width: 100%;
    margin: 40px 0;
    display: inline-block;
}
.container-row::after,
.container-row::before{
    content: "";
    width:100%;
    display: table;
    clear: both;
}

.container-row{
    margin:-15px;
}

.container-block{
    width: 50%;
    padding: 0 15px;
    float: left;
    margin-bottom: 32px 
}

.about-me-a{
    width: 50%;
    padding: 0 15px;
    float: left;
    margin-bottom: 32px 
}

.container-block-b{
    width: 50%;
    padding: 0 15px;
    float: left;
    margin-bottom: 32px 
}

.container-inner{
    width:100%;
}

.container-inner img{
    width:100%;
}

.container-inner h2{
    color: #ffbd39;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    margin: 0;
    font-size: 17px;
    font-weight: 400;
    padding: 91px 0 0;
}

.container-inner p{
    margin: 0;
    color: #fff;
    padding: 15px 0;
    font-family: "Poppins", sans-serif;
    font-size: 62px;
    font-weight: 800;
    line-height: 85px;
}

.container-inner p span {
    color: #ffbd39;
}

.my-pic{
    width:425px;
}

.button{
    margin:10px 0 0;
    width:100%;
}

.btn{
    float: left;
    width: 20%;
    margin: 5px;
    text-align: center;
}

.btn-button{
    float: left;
    width: 22%;
    margin: 5px;
    text-align: center;
}

.hire-me{
    text-decoration: none;
    color: #000;
    padding: 16px;
    display: block;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 500;
    background-color: #ffbd39;
    border-radius: 30px;
    position: relative;
    transition: all .4s ease-in-out;
    letter-spacing: 3px;
    /* overflow: hidden; */
}

.hire-me::after{
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    transition: all .4s ease-in-out;
    border-radius: 30px;
}

.hire-me:hover::after{
    width:100%;
    border: 1px solid #ffbd39;
}

.hire-me:hover span{
    color:#ffbd39;
}

.hire-me span{
    position: relative;
    z-index: 3;
}

.my-works{
    text-decoration: none;
    color: #fff;
    padding: 16px;
    display: block;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 500;
    background-color: #000;
    border-radius: 30px;
    border: 1px solid #fff;
    position: relative;
    overflow: hidden;
}

.my-works::before{
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #ffbd39;
    transition: all .4s ease-in-out;
    border-radius: 30px;
}

.my-works:hover::before{
    width:100%;
}

.my-works span{
    position: relative;
    z-index: 3;
}

.my-works:hover span{
    color:#000;
}

.about-inner{
    width:100%;
}

.about-inner h3{
    color: #fff;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    margin: 0;
    font-size: 60px;
    font-weight: bold;
    text-shadow: 0px 7px 2px rgba(168,168,168,1);
}

.about-info {
    margin: 0;
    color: #fff;
    padding: 46px 0;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
}

.about-container{
    width:100%;
}

.about-row::after,
.about-row::before{
    content: "";
    width:100%;
    display: table;
    clear: both;
}

.about-row{
    margin:-15px;
}



.about-me{
    width: 23%;
    float: left;
    padding:0 15px;
}

.about-me p{
    margin: 0;
    color: #fff;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    padding: 0 0 12px;
}

.about-me-one{
    width: 77%;
    float: right;
    padding:0 15px;
}

.about-me-one p{
    margin: 0;
    color: #999;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
}

.about-me-one a{
    text-decoration: none;
    display: block;
    color: #999;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 0 0 12px;
}

.btn-cv{
    float: left;
    width: 30%;
    text-align: center;
    margin: 20px 0;
}

.resume-inner{
    width: 100%;
    text-align: center;
    padding-bottom: 36px;
}

.resume-inner h3{
    margin: 0;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 53px;
    text-transform: capitalize;
    font-weight: 800;
    text-shadow: 0px 7px 2px rgba(168,168,168,1);
}

.resume-inner p{
    margin: 0;
    color: #999;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 20px 86px;
    line-height: 31px;
}

.resume-block{
    width: 100%;
    padding: 37px;
    background-color: #1a1a1a;
    border-radius: 6px 
}

.resume-block .date{
    font-weight: 900;
    font-size: 26px;
    color: #ffbd39;
    padding: 7px 0;
}

.resume-block h2{
    margin: 0;
    color: #fff;
    padding: 5px 0;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 26px;
    font-weight: 400;
}

.resume-block .position{
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #999999;
    padding: 7px 0;
}

.resume-block p{
    margin: 0;
    padding: 25px 0 35px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #999;
    line-height: 28px;
}

.degree {
    width: 100%;
    margin: 10px 0 0;
}



 .btn-download{
    text-align: center;
    margin: 90px 0 41px;
}


.download-cv{
    background-color: #ffbd39;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    letter-spacing: 3px;
    padding: 24px 40px;
    border-radius: 33px;
    color: #000;
    font-weight: 600;
    position: relative;
}

.download-cv::after{
    content: "";
    width:0;
    height:100%;
    position: absolute;
    background-color: #000;
    color:#ffbd39;
    transition: all .3s ease-in-out;
    top:0;
    left:0;
    border-radius: 33px;
}

.download-cv:hover span{
    color:#ffbd39;
}

.download-cv span{
    z-index: 3;
    position: relative;
}

.download-cv:hover::after{
    width:100%;
    border: 1px solid #ffbd39;
    color: #ffffff;
} 

.services-inner{
    width:100%;
    margin: 0 0 15px;
}

.services-row{
    margin:0 -15px;
}

.services-row::after,
.services-row::before{
    content: "";
    width: 100%;
    clear:both;
    display: table;
}

.services-block{
    width: 33.33%;
    float: left;
    padding: 0 15px;
}

.row{
    background-color: #1a1a1a;
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    padding: 0 0 62px;
    height: 100%;
    transition: all .4s ease-in-out;
}

.row img{
    padding: 25px 0;
}

.web-design{
    margin: 0;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 300;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 10px 0 19px;
}

.row .web-design::before {
    content: "";
    position: absolute;
    width: 10%;
    height: 1px;
    background-color: #ffbd39;
    left: 46%;
    bottom: 0px;
    transition: all .4s ease-in-out;
}

.white-icon{
    display:none;
    transition: all .4s ease-in-out;
}

.row:hover{
    background-color: #ffbd39;
}

.row:hover .web-design{
    color:#000;
}

.row:hover .white-icon{
    display: inline-block;
}

.row:hover .yellow-icon{
    filter: brightness(0) saturate(100%) invert(96%) sepia(95%) saturate(1%) hue-rotate(139deg) brightness(103%) contrast(100%);
}

.row:hover .web-design::before{
    background-color: #000;
}

.project-row{
    margin:0 -15px;
}

.project-row::after,
.project-row::before {
    content: "";
    width:100%;
    display: table;
    clear: both;
}

.project-inner{
    width:100%;
    margin: 12px 0;
    display: inline-block;
}
.project-block{
    width:30%;
    padding:0 15px;
    float:left;
}

.project-img{
    width: 100%;
    height: 285px;
    background-image: url(../images/pic1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    transition: all .4s ease-in-out;
    position:relative;
}
.overlay{
    position:absolute;
    width:100%;
    height: 100%;
    background-color: #ffbd39c7;
    transition: all .4s ease-in-out;
    display:none;
}

.project-img:hover .overlay{
    display:block;
}

.project-img h3{
    margin: 0;
    text-align: center;
    padding: 90px 60px 0;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    transition: all .4s ease-in-out;
}

.project-img p{
    margin: 0;
    text-align: center;
    padding: 12px 0;
    color: #fff;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    font-weight: 600;
}

.project-block-one{
    width:70%;
    padding:0 15px;
    float:right;
}

.project-img-one{
    width: 100%;
    height: 285px;
    background-image: url(../images/pic2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position:relative;
}

.project-img-one:hover .overlay{
    display:block;
}

.project-img-one h3{
    margin: 0;
    text-align: center;
    padding: 90px 60px 0;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    transition: all .4s ease-in-out;
}

.project-img-one p{
    margin: 0;
    text-align: center;
    padding: 12px 0;
    color: #fff;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    font-weight: 600;
}

.project-block-two{
    width:70%;
    padding:0 15px;
    float:left;
}

.project-img-two{
    width: 100%;
    height: 285px;
    background-image: url(../images/pic3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position:relative;
}

.project-img-two:hover .overlay{
    display:block;
}

.project-img-two h3{
    margin: 0;
    text-align: center;
    padding: 90px 60px 0;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    transition: all .4s ease-in-out;
}

.project-img-two p{
    margin: 0;
    text-align: center;
    padding: 12px 0;
    color: #fff;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    font-weight: 600;
}


.project-block-three{
    width:30%;
    padding:0 15px;
    float:right;
}

.project-img-three{
    width: 100%;
    height: 285px;
    background-image: url(../images/pic5.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position:relative;
}

.project-img-three:hover .overlay{
    display:block;
}

.project-img-three h3{
    margin: 0;
    text-align: center;
    padding: 90px 60px 0;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    transition: all .4s ease-in-out;
}

.project-img-three p{
    margin: 0;
    text-align: center;
    padding: 12px 0;
    color: #fff;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    font-weight: 600;
}


.project-img-four{
    width: 100%;
    height: 285px;
    background-image: url(../images/pic4.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position:relative;
}

.project-img-four:hover .overlay{
    display:block;
}

.project-img-four h3{
    margin: 0;
    text-align: center;
    padding: 90px 60px 0;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    transition: all .4s ease-in-out;
}

.project-img-four p{
    margin: 0;
    text-align: center;
    padding: 12px 0;
    color: #fff;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    font-weight: 600;
}


.project-img-five{
    width: 100%;
    height: 285px;
    background-image: url(../images/pic6.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position:relative;
}

.project-img-five:hover .overlay{
    display:block;
}

.project-img-five h3{
    margin: 0;
    text-align: center;
    padding: 90px 60px 0;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    transition: all .4s ease-in-out;
}

.project-img-five p{
    margin: 0;
    text-align: center;
    padding: 12px 0;
    color: #fff;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    font-weight: 600;
}


.my-blog{
    width: 100%;
    height: 285px;
    background-image: url(../images/pic8.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.blog-inner{
    width: 100%;
    text-align: center;
    padding-bottom: 36px;
}

.blog-inner h3{
    margin: 0;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 53px;
    text-transform: capitalize;
    font-weight: 800;
    text-shadow: 0px 7px 2px rgba(168,168,168,1);
}


.blog-inner p{
    margin: 0;
    color: #999999;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 20px;
}

.my-blog-one{
    width: 100%;
    height: 285px;
    background-image: url(../images/pic7.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.my-blog-two{
    width: 100%;
    height: 285px;
    background-image: url(../images/pic9.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.my-blog-inner h6{
    margin: 0;
    color:#ffbd39;
    font-family: "Poppins", sans-serif;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 3px;
    padding: 11px 0;
}

.my-blog-inner h4{
    margin: 0;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 600;
    padding: 10px 0;
    transition: all .4s ease-in-out;
}

.my-blog-inner h4:hover{
    color:#ffbd39;
}
.my-blog-inner p{
    margin: 0;
    color: #999;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding: 10px 0;
}

.blog-container{
    width:100%;
    margin:30px 0;
}

.blog-row{
    margin:0 -15px;
}

.blog-row::after,
.blog-row::before{
    content: "";
    width:100%;
    display:table;
    clear: both;
}

.blog-block{
    width:25%;
    height:150px;
    float: left;
    padding:0 15px;
    margin-bottom: -76px;
}

.blog-awarads{
    width: 100%;
    height: 100%;
    background-color: #1a1a1a;
    border-radius: 7px;
    padding: 41px 0;
    text-align: center;
    margin-top: -76px;
}

.blog-awarads span{
    color: #ffbd39;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 500;
}

.blog-awarads p{
    margin: 0;
    text-transform: capitalize;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 500;
    padding: 5px 0;
}

.blog-wrap{
    width: 100%;
    padding: 94px 0;
    text-align: center;
}

.blog-wrap h2{
    margin: 0;
    color: #fff;
    font-family: 'Poppins';
    font-size: 45px;
    font-weight: 800; 
}

.blog-wrap h2 span{
    color:#ffbd39;
}

.blog-wrap p{
    margin: 0;
    color: #fff;
    padding: 10px 225px;
    font-family: 'Poppins';
    font-size: 17px;
}

.blog-wrap a{
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Poppins';
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 3px;
    background-color: #ffbd39;
    color: #000;
    display: inline-block;
    padding: 17px 44px;
    border-radius: 30px;
    margin-top: 10px;
}


.cover-pic{
    width: 100%;
    height: 500px;
    background-image: url(../images/bg_1.jpg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.contact-row{
    display:flex;
    flex-wrap: wrap;
    margin:0 -15px;
}

.contact-column{
    width:25%;
    padding:0 15px;
}

.contact-box{
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-img{
    width: 100px;
    height: 100px;
    background-color: #1a1a1a;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s ease-in-out;
}

.contact-img i{
    color:#ffbd39;
    font-size: 29px;
}


.contact-img:hover i{
    filter: brightness(0) saturate(100%) invert(96%) sepia(95%) saturate(1%) hue-rotate(139deg) brightness(103%) contrast(100%);
}


.contact-btn{
    text-align: center;
    margin-top: 41px;
}

.contact-btn h3{
    color: #fff;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 20px;
}

.contact-btn p{
    margin: 0;
    color: #999;
    padding: 12px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    text-transform: capitalize;
}

.contact-btn a{
    color: #fff;
    font-size: 15px;
    font-family: 'Poppins';
    font-weight: 300;
    text-decoration: none;
    display: block;
    padding: 10px 0;
    color: #999;
}

.contact-btn a:hover{
    color:#f8f9fa;
}

.form-row{
    display:flex;
    flex-wrap: wrap;
}
.form-column{
    width:50%;
    height:560px;
}

.form-img img{
    width:100%;
    height: 560px;
    object-fit: cover;    
}

.form-block{
    width: 100%;
    background-color: #f8f9fa;
    height: 100%;
    padding: 56px;
}

.form-container{
    margin-bottom: 15px;
}

.form-container input{
    width: 100%;
    height: 50px;
    padding: 10px;
    color:#999;
    border-radius: 5px;
    outline: none;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #999;
}

.form-container textarea{
    width: 100%;
    height: 166px;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #999;
    color: #999;
    resize: none;
}

.form-button{
    width:100%;
}

.from-btn{
    width:40%;
    text-align: center;
}


.form-button input{
    background-color: #ffbd39;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    letter-spacing: 3px;
    padding: 16px 26px;
    border-radius: 33px;
    color: #000;
    font-weight: 600;
    position: relative;
    border: none;
}

.button-btn:hover span{
color:#ffbd39;
}

.button-btn span{
position: relative;
z-index: 3;
}

.footer-inner{
    margin-bottom: 35px;
}

.footer-block{
    margin-bottom:35px;
    margin-left: 38px;
}

.footer-inner h2{
    margin: 0;
    color: #fff;
    text-transform: capitalize;
    font-family: 'Poppins';
    font-size: 25px;
    padding: 0 0 40px;
    font-weight: 500; 
}

.footer-block h2{
    margin: 0;
    color: #fff;
    text-transform: capitalize;
    font-family: 'Poppins';
    font-size: 25px;
    padding: 0 0 40px;
    font-weight: 500; 
}

.footer-inner p{
    margin: 0;
    color: #999;
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    text-transform: capitalize;
}

.footer-block ul{
    padding: 0;
    list-style: none;
    margin: 0;
}

.footer-inner ul{
    padding: 0;
    list-style: none;
    margin: 0;
}

.footer-block li{
    margin: 0 0 10px;
}

.footer-inner li{
    margin: 0 0 10px;
}

.footer-column{
    width:25%;
    padding:0 15px;
}

.footer-block ul li a{
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 16px;
    text-transform: capitalize;
    color: #999;
    font-weight: 500;
    display: inline-block;
}

.footer-block ul li a i,
.footer-inner ul li a  i,
.footer-wrap p i,
.footer-wrap a i{
    padding-right: 8px;
}

.footer-icon-a{
    text-decoration: none;
    color: #999;
    font-size: 23px;
}

.footer-inner ul li a{
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 16px;
    text-transform: capitalize;
    color: #999;
    font-weight: 500;
    display:inline-block;
}

.footer-heading {
    margin: 0;
    color: #fff;
    text-transform: capitalize;
    font-family: 'Poppins';
    font-size: 25px;
    padding: 0 0 40px;
    font-weight: 500; 
}

.footer-column img{
    padding-right:6px;
}

.footer-wrap p{
    margin: 0;
    color: #999;
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    text-transform: capitalize;
}

.footer-wrap a{
    display: block;
    padding: 10px 0 0;
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 15px;
    color: #999;
    font-weight: 500;
}

.footer-pic{
    display: flex;
    flex-wrap: wrap;
}

.footer-icon{
    width: 50px;
    height: 50px;
    margin:0px 7px;
    background-color: #1a1a1a;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    border-radius: 50%;
}

.footer-icon:hover i{
    filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(5325%) hue-rotate(271deg) brightness(119%) contrast(100%);
}


.instra-icon{
    padding-left:3px;
}


.Copyright{
    width: 100%;
    margin: 90px 0;
    text-align: center;
}

.Copyright p{
    margin: 0;
    color: #999;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
}

.Copyright a{
    text-decoration: none;
    color: #999;
    transition: all .4s ease-in-out;
}

.Copyright a:hover{
    color:#f8f9fa;
}

@media(max-width: 1199px){

    .container{
        max-width: 960px;
    }

    .header-menu ul li{
        padding-left: 25px;
    }

    .container-inner p{
        font-size: 55px;
        line-height: 77px;
    }

    .btn{
        width:22%;
    }

    .my-pic{
        width:377px;
    }

    .about-inner h3{
        font-size:55px;
    }

    .about-info {
        padding: 10px 0 40px;
        line-height: 24px;
    }

    .about-me {
        width: 27%;
    }

    .about-me p {
        font-size: 15px;
        padding: 0 0 20px;
    }

    .about-me-one{
        width: 73%;
    }

    .about-me-one p{
        font-size: 15px;
        padding: 0 0 20px;
    }

    .btn-cv{
        width:35%;
    }

    .banner{
        margin: 27px 0;
        display: inline-block;
    }

    .btn-download{
        margin: 58px 0 31px;
    }

    .download-cv{
        padding: 20px 27px;
    }

    .from-btn{
        width:52%;
    }

    .button-btn{
        padding: 17px 20px;
    }

    .footer-heading{
        font-size: 20px;
        padding: 0 0 28px;
    }

    .footer-wrap a{
        word-break: break-all;
    }
    
}

@media (max-width: 991px){
    .container {
        max-width: 720px;
    }

    .header-logo a{
        font-size:21px;
    }

    .active,
    .header-menu ul li .nav-link{
        font-size:14px;
    }

    .container-inner p{
        font-size: 49px;
        font-weight: 700;
        line-height: 69px;
    }
    .btn,
    .btn-button {
        width: 30%;
    }

    .my-pic{
        width:375px;
    }

    .about-me-a{
        width: 100%;
    }

    .about-inner h3 {
        font-size: 42px;
    }

    .resume-inner {
        padding-bottom: 27px;
    }

    .resume-inner p {
        padding: 15px 91px;
        line-height: 26px;
    }

    .container-block-b{
        width: 100%;
    }

    .resume-block{
        padding: 28px;
    }

    .resume-block p{
        padding: 25px 0 0;
    }

    .btn-cv{
        width:23%;
    }

    .services-block {
        width: 100%;
    }

    .project-img,
    .project-img-one,
    .project-img-two,
    .project-img-three,
    .project-img-four,
    .project-img-five{
        height: 216px;
    }

    .my-blog-inner{
        padding: 0 0 20px;
    }

    .blog-block{
        height: 116px;
    }

    .blog-awarads{
        margin-top: -59px;
        padding: 28px 0;
    }

    .blog-awarads span{
        font-size: 20px;
    }

    .blog-awarads p{
        font-size: 15px;
    }

    .blog-wrap h2{
        font-size: 41px;
    }

    .blog-wrap p{
        padding: 10px 89px;
    }

    .button-btn {
        padding: 17px;
    }
    .footer-inner p,
    .footer-block ul li a ,
    .footer-inner ul li a ,
    .footer-wrap p,
    .Copyright p  {
        font-size: 15px;
        font-weight: 600;
    }

    .footer-heading{
        font-size: 22px;
        padding: 0 0 33px;
    }

    .footer-wrap a{
        font-size: 14px;
    }

    .footer-icon-a{
        font-size: 18px ;
    }

    .contact-column img{
        width: 45px;
    }

    .contact-img {
        width: 75px;
        height: 75px;
    }

    .contact-btn h3{
        font-size: 15px;
    }

    .contact-btn {
        margin: 25px 0 0;
    }

    .contact-btn a,
    .contact-btn p{
        font-size: 14px;
    }

    .contact-btn h3{
        margin: 0 0 10px;
    }

    .contact-column{
        width: 50%;
    }

    .contact-img i {
        font-size: 25px;
    }
    
    .about-img{
        width: 100%;
        height: 400px;
        overflow: hidden;
    }

    .container-inner{
        height: 100%;
    }

    .tae-v{
        object-fit: contain;
        height: 100%;
    }

    .form-img img,
    .form-column {
        height: 443px;
    }

    .form-block{
        padding: 30px 20px;
    }

    .form-container input{
        height: 37px;
        font-size: 15px;
    }

    .form-container textarea{
        height: 120px;
    }

    .from-btn {
        width: 55%;
    }

    .footer-heading {
        font-size: 16px;
        padding: 0 0 24px;
    }

    .footer-inner p{
        line-height: 24px;
    }

    .footer-column{
        width: 100%;
    }

    .link-a{
        width: 30%;
    }

    .link-b{
        width: 40%;
    }

    .footer-block{
        margin-left: 0;
    }

    .footer-icon{
        width: 40px;
        height: 40px;
    }

    .footer-icon a {
        font-size: 18px;
    }

    .Copyright{
        margin: 36px 0;
    }
}

@media (max-width: 767px){

    .container{
        max-width: 540px;
    }

    .banner{
        margin: 10px 0;
    }

    .container-block{
        width: 100%;
    }

    .header-menu ul{
        display: none;
    }
    .header-menu a{
        display: block;
    }
    .my-pic{
        display: none;
    }

    .container-inner h2{
        padding: 50px 0 0;
    }

    .container-block{
        margin-bottom: 18px;
    }

    .btn-cv{
        width: 31%;
    }

    .about-me-a{
        margin-bottom: 10px;
    }

    .container-inner p{
        font-size: 43px;
        line-height: 62px;
        padding: 10px 0;
    }

    .button{
        display: flex;
        justify-content: center;
    }

    .btn, 
    .btn-button{
        width: 20%;
    }

    .resume-inner h3,
    .blog-inner h3{
        font-size: 45px;
    }

    .resume-inner p{
        padding: 0;
    }

    .resume-block {
        padding: 24px;
    }

    .resume-block .date,
    .resume-block h2{
        font-size: 21px;
    }

    .cover-pic{
        height: 279px;
    }

    .blog-block{
        height: 92px;
        margin-bottom: -55px;
    }

    .blog-container{
        margin: 65px 0;
    }

    .blog-awarads{
        padding: 5px 0;
        margin-top: -107px;
    }

    .blog-wrap{
        padding: 0;
    }

    .blog-wrap h2 {
        font-size: 34px;
    }

    .blog-wrap p {
        padding: 10px 35px;
        font-size: 15px;
    }

    .blog-wrap a {
        padding: 15px 20px;
    }

    .project-block,
    .project-block-one,
    .project-block-two,
    .project-block-three{
        width: 100%;
    }

    .project-block,
    .project-block-two{
        padding: 15px 0;
    }

    .project-block-one,
    .project-block-three {
        padding:0;
    }

    .project-inner{
        margin: 0;
    }

    .project-img, 
    .project-img-one, 
    .project-img-two, 
    .project-img-three, 
    .project-img-four, 
    .project-img-five{
        height: 282px;
    }

    .blog-inner p {
        padding: 10px 0;
    }

    .form-column-img{
        display: none;
    }

    .form-column{
        width: 100%;
    }

    .form-button{
        display: flex;
        justify-content: center;
    }

    .from-btn{
        width: 40%;
    }

    .link-a {
        width: 50%;
    }

    .link-b{
        width: 100%;
        padding: 0 15px 25px;
    }

    .footer-pic {
        justify-content: center;
    }


}  
   

@media(max-width:575px){

    .container{
        width:100%;
    }

    .btn,
    .btn-button{
        width: 32%;
    }

    .hire-me,
    .my-works{
        padding: 12px;
    }

    .container-inner h2 {
        padding: 14px 0 0;
    }

    .container-inner p {
        font-size: 34px;
        line-height: 41px;
    }

    .btn-cv {
        width: 46%;
    }

    .about-me{
        padding-right: 0;
    }

    .about-me-one {
        padding-left: 0;
    }

    .about-me-one a{
        word-break: break-all;
    }

    .btn-cv {
        width: 51%;
    }

    .resume-inner p{
        font-size: 15px;
    }

    .blog-inner p{
        font-size: 13px;
    }

    .blog-inner br{
      display: none;
    }

    .resume-block h2{
        font-size: 18px;
    }

    .resume-block p{
        font-size: 15px;
        line-height: 23px;
        padding: 16px 0 0;
    }

    .download-cv {
        padding: 15px 15px;
    }

    .project-img, 
    .project-img-one, 
    .project-img-two, 
    .project-img-three, 
    .project-img-four, 
    .project-img-five {
        height: 196px;
    }

    .project-block, 
    .project-block-two,
    .project-block-three,
    .project-block-one {
        padding: 15px;
    }

    .project-row {
        margin: -15px;
    }

    .resume-inner h3, 
    .blog-inner h3 {
        font-size: 38px;
    }

    .my-blog,
    .my-blog-one,
    .my-blog-two{
        height: 184px;
    }

    .my-blog-inner h4{
        font-size:16px;
        padding: 5px 0 0;
    }

    .my-blog-inner p{
        font-size: 15px;
        padding: 5px 0 0 ;
        line-height: 24px;
    }

    .cover-pic{
        padding-top: 150px;
        height: 100%;
    }

    .blog-container {
        margin: 0;
        position: relative;
        left: 0;
        top: -74px;
    }

    .blog-block {
        width: 100%;
        margin-bottom: 15px;
    }

    .blog-wrap {
        padding: 20px 0 0;
    }

    .blog-awarads {
        padding: 21px 0;
        margin-top: 0px;
    }

    .blog-wrap h2{
        font-size: 21px;
    }

    .blog-wrap p {
        padding: 10px 0px;
    }

    .blog-wrap a {
        padding: 11px 18px;
    }

    .contact-column{
        width: 100%;
    }

    .from-btn {
        width: 62%;
    }

    .button-btn {
        padding: 11px;
    }

    .link-a,
    .link-b{
        width:100%;
    }
} 